<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Usa.Military.DtgTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Usa.Military.DtgTests.Properties.Settings>
            <setting name="DateTimeGroupTimeZoneFormatString" serializeAs="String">
                <value>dtz</value>
            </setting>
        </Usa.Military.DtgTests.Properties.Settings>
    </applicationSettings>
</configuration>